.nav {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0px 6px 15px rgba(2, 21, 21, 0.05);
    border-radius: 0px 0px 1px 1px;

    @include mq($medium) {
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
        border-radius: 0;
    }

    &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: -15px;
        right: -15px;
        bottom: 0;
        content: '';
        background: var(--dark);
        @include mq($medium) {
            left: -1000px;
            right: -1000px;
        }

    }

    &__trigger {
        @include resetbutton();
        display: flex;
        color: var(--white);

        &:hover {
            color: rgba(255,255,255,.9);
            @include tr(.3s ease);
        }

        @include mq($medium) {
            display: none;
            width: 32px;
            height: 32px;
        }
    }

    &__close-icon {
        display: none;
    }

    &__list {
        margin-bottom: 0;
        max-width: 1060px;

        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: flex-start;
        @include mq($medium) {
            max-width: 1077px;
            display: flex;
            flex-wrap: nowrap;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        color: var(--white);
        @include tr(.3s ease);
        cursor: pointer;

        @include mq($medium) {
            width: auto;
            flex-wrap: nowrap;
        }

        &:first-child {
            .nav__link {
                padding-left: 0;
                @include mq($medium) {
                    padding-left: 7px;
                }
            }
        }

        &:last-child {
            margin-right: 0;
            .nav__link {
                padding-right: 0;
            }
        }

        &.active {
            .nav__link {
                font-weight: bold;
                @include tr(.3s ease);
            }

        }

        &:hover {
            .nav__link {
                color: darken(#f2f2f2, 10);
                @include mq($medium) {
                    color: darken(#f2f2f2, 10);
                }
            }

        }

    }

    &__item_subnav {
        @include padding-right(10px);

        @include mq($medium) {
            @include padding-right(15px);
        }

        @include mq($large) {
            @include padding-right(27.5px);
        }

        .nav__dropdown-icon {
            @include mq($medium) {
                position: relative;
                margin-left: 8px;
                display: block;
                transform: rotate(0deg);
            }
        }
        &:focus-within,
        &:hover {
            .nav__link {
                color: var(--white);
            }
            .nav__dropdown-icon {
                transform: rotate(-180deg);

                @include tr(.3s ease);
                @include mq($medium) {
                    transform: rotate(180deg);
                }

            }

            .nav__list-sub {
                position: relative;
                top: 0;
                background: var(--dark);
                opacity: 1;
                @include tr(background .3s ease);

                @include mq($medium) {
                    position: absolute;
                    top: 100%;
                }

            }
        }

        .nav__link {
            padding-right: 0;
        }
    }

    &__link {
        padding-top: 4px;
        padding-right: 0;
        padding-bottom: 4px;
        padding-left: 0;
        width: 100%;
        display: inline-flex;
        color: #fff;
        font-weight: bold;
        @include font-size(14px);
        line-height: 1;
        text-align: left;
        line-height: 1.43;
        white-space: nowrap;
        text-decoration: none;
        @include tr(.3s ease);

        @include mq($medium) {
            @include padding-top(20px);
            @include padding-right(15px);
            @include padding-bottom(20px);
            @include padding-left(15px);
            width: auto;

            color: var(--nav-link-color);
            font-weight: normal;
            @include font-size(14px);
            text-transform: uppercase;
        }

        @include mq($large) {
            @include padding-right(24px);
            @include padding-left(24px);
        }


    }


    &__link-text {
        position: relative;
    }


    &__dropdown-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: auto;
        transform: rotate(-90deg);

        @include tr(.3s ease);
        fill: transparent;

        @include mq($medium) {
            position: relative;
            margin-left: 8px;
            display: none;
            transform: rotate(0deg);
        }

    }

    &__list-sub {
        // top: 100%;
        position: absolute;
        // top: 0;
        left: 0;
        top: -100vh;
        opacity: 0;
        @include tr(background .3s ease);
        @include mq($medium) {
            margin-left: 8px;
            width: 320px;
            background: transparent;
        }
    }

    &__controls {
        margin-left: auto;
    }


    &__search,
    &__user {
        margin-left: auto;
        display: inline-flex;
        align-items: center;

    }

    &__search {
        @include resetbutton();
        @include mq($medium) {
            margin-left: 20px;
        }
    }

    &__search-icon,
    &__user-icon {
        margin-right: 0;
        width: 22px;
        height: 22px;
        color: var(--white);
        @include mq($medium) {
            margin-right: 8px;
            width: 34px;
            height: 34px;
        }

    }

    &__search-form {
        position: absolute;
        // top: 100%;
        top: 0;
        left: 0;
        right: 0;
    }

    &__user {
        margin-left: 20px;
        @include mq($medium) {
            display: none;
        }
    }

    &__user-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.43;
        display: none;

    }

    &__phone {
        display: none;
    }
}


.nav_secondary {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    box-shadow: none;
    border-radius: 0;
    @include mq($medium) {
    }

    &:after {
        display: none;
    }
    .nav__title {
        margin-bottom: 8px;
        width: 100%;
        @include font-size(14px);
        font-weight: bold;
        line-height: 1.43;
        cursor: pointer;
        @include mq($medium) {
            @include font-size(16px);
        }
        @include mq($large) {
            margin-bottom: 34px;
            font-weight: 600;
            @include font-size(20px);
            line-height: 1.2;
            cursor: auto;
        }
    }

    .nav__dropdown-icon {
        position: absolute;
        top: 1px;
        right: 0;
        margin-left: 0;
        width: 16px;
        height: 16px;
        transform: rotate(-90deg);
        @include tr(.3s ease);

        @include mq($medium) {
            display: none;
        }
    }
    .nav__list,
    .nav__item {
        display: block;

    }

    .nav__list {
        display: none;
        @include mq($medium) {
            display: block;
        }
    }

    .nav__link {
        padding-top: 3px;
        padding-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-weight: normal;
        @include font-size(12px);
        line-height: 1.49;
        letter-spacing: -0.2px;
        color: #667580;
        text-transform: none;
        @include mq($medium) {
            padding-top: 5px;
            padding-bottom: 5px;
            @include font-size(14px);
        }

        @include mq($large) {
            padding-top: 10px;
            padding-bottom: 10px;
            @include font-size(16px);

        }

        &:hover {
            color: #667580;



        }
    }
}

.nav_open {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    height: 100vh;
    align-items: flex-start;
    flex-direction: column;

    .nav__trigger {
        margin-top: 2px;
        margin-bottom: 6px;
    }

    .nav__controls {
        margin-top: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .nav__search {
        display: none;
    }
    .nav__user {
        margin-bottom: 12px;
        margin-left: 0;
        width: 100%;
    }

    .nav__user-text {
        display: inline-flex;
    }

    .nav__phone {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.43;
        .phone__icon {
            margin-right: 8px;
            color: #ff4c29;

        }
    }

    .nav__menu-icon {
        display: none;
    }

    .nav__close-icon {
        display: block;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }
}
