doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug

    include ../components/header/header.pug
    include ../components/nav/nav.pug
    //- include ../components/about/about.pug
    //- include ../components/features/features.pug
    //- include ../components/news/news.pug
    //- include ../components/feedback/feedback.pug
    //- include ../components/cta/cta.pug


    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        .page__wrapper
            //- +header(header.main)
            main.page__main
                //- +about()
                //- +features()
                //- +news().page__news
                //- +feedback()
                //- +cta()
        //- +footer().page__footer


        script(src='%=static=%js/separate-js/jquery.min.js' defer)
        script(src='%=static=%js/separate-js/bootstrap.bundle.min.js' defer)
        script(src='%=static=%js/main%=hash=%%=min=%.js' defer)
