doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug

    include ../components/header/header.pug
    include ../components/nav/nav.pug
    include ../components/section-nav/section-nav.pug
    include ../components/side-nav/side-nav.pug
    include ../components/slider/slider.pug
    include ../components/news/news.pug
    include ../components/map-organizations/map-organizations.pug
    include ../components/departments/departments.pug


    //- include ../components/about/about.pug
    //- include ../components/features/features.pug
    //- include ../components/news/news.pug
    //- include ../components/feedback/feedback.pug
    //- include ../components/cta/cta.pug


    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        .page__wrapper
            +header()
            main.page__main.container
                +section-nav()
                .page__row
                    +slider().slider_mob
                    aside.side.page__side
                        +side-nav()

                    .content.page__content
                        +slider().slider_desktop
                        +news()
                        +news-media()
                +map-organizations()
                +departments()
        +footer().page__footer

        //- script(src='%=static=%js/separate-js/jquery.min.js' defer)
        //- script(src='%=static=%js/separate-js/bootstrap.bundle.min.js' defer)
        script(src='%=static=%js/main%=hash=%%=min=%.js' defer)
