mixin features(data)
    section.features
        .features__container.container
            ul.features__list

                li.features__item
                    != pugHelpers.Icon.call(locals, {iconName: 'feature-icon-1', className: 'features__icon'})

                    .features__entry
                        .features__entry-title Телеграм - продвижение
                        p.features__entry-text.text.text_big Программа для продвижения и менеджмента в Телеграм: группы, чаты и каналы. Раскручивайте свои проекты самыми эффективными путями!

                        a.features__entry-more.button.button_more.button_medium(href="#more") Подробнее
                            != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'button__arrow'})

                li.features__item
                    != pugHelpers.Icon.call(locals, {iconName: 'feature-icon-2', className: 'features__icon'})

                    .features__entry
                        .features__entry-title Caper - решение Капчи
                        p.features__entry-text.text.text_big Приложение для автоматического разгадывание капчи. Высокая скорость работы, решение самых сложных каптч и всё это - без ограничений с нашей стороны.

                        a.features__entry-more.button.button_more.button_medium(href="#more") Подробнее
                            != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'button__arrow'})


                li.features__item
                    != pugHelpers.Icon.call(locals, {iconName: 'feature-icon-3', className: 'features__icon'})

                    .features__entry
                        .features__entry-title Discord Продвижение
                        p.features__entry-text.text.text_big Комплекс продуктов по автоматизации в Discord. Попробуйте профессиональный подход для раскрутки проектов через соц. сеть Discord.

                        a.features__entry-more.button.button_more.button_medium(href="#more") Подробнее
                            != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'button__arrow'})


                li.features__item
                    != pugHelpers.Icon.call(locals, {iconName: 'feature-icon-4', className: 'features__icon'})

                    .features__entry
                        .features__entry-title Сервис Прокси
                        p.features__entry-text.text.text_big Широкая сеть мобильных прокси - с пулом ~1 млн. уникальных IP-адресов. Совместимы со всеми платформами. Комфортная работа гарантирована. Предлагаем протестировать прямо сейчас!

                        a.features__entry-more.button.button_more.button_medium(href="#more") Подробнее
                            != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'button__arrow'})

                li.features__item
                    != pugHelpers.Icon.call(locals, {iconName: 'feature-icon-5', className: 'features__icon'})

                    .features__entry
                        .features__entry-title VPS-серверы Windows
                        p.features__entry-text.text.text_big Доступные RDP дедики на Windows. Самое актуальное оборудование - самая высокая производительность. Запускайте проекты удаленно - тестируйте и масштабируйте.

                        a.features__entry-more.button.button_more.button_medium(href="#more") Подробнее
                            != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'button__arrow'})

                li.features__item
                    != pugHelpers.Icon.call(locals, {iconName: 'feature-icon-6', className: 'features__icon'})

                    .features__entry
                        .features__entry-title VPN-приложение
                        p.features__entry-text.text.text_big Быстрые VPN-локации расположенные по всем континентам Мира. SSL-сертификат на каждой локации и высокая пропускная способность:<br/> ~150MBs

                        a.features__entry-more.button.button_more.button_medium(href="#more") Подробнее
                            != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'button__arrow'})
