// Common styles of the project

html, body {
    height: 100%;
}

.page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--white);
    color: var(--black);
    font-display: swap;
    font-family: $golos-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    &__wrapper {
        position: relative;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        // overflow: hidden;
    }

    &__icon {
        z-index: -1;
        position: absolute;
        display: none;
        @include mq($medium) {
            display: block;
        }
    }

    &__icon_left {
        top: 1486px;
        left: 0;
    }

    &__icon_right {
        top: 795px;
        right: 0;
    }

    &__main {

    }

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @include mq($medium){
            flex-direction: row;
        }
    }

    &__side {
        width: 100%;

        @include mq($medium){
            margin-right: 8px;
            max-width: 23.1%;
        }
    }


    &__content {
        width: 100%;

        @include mq($medium){
            @include padding-left(48px);
            max-width: 76.3%;
        }

    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        min-width: 320px;
        max-width: 100%;
        @include mq($large) {
            padding-right: 30px;
            padding-left: 30px;
            // padding-right: 30px;
            // padding-left: 30px;

            max-width: 1274px;
            // 1224
        }

    }

}

.page_inner {

    .page__row {
        padding-top: 32px;
        overflow: hidden;
    }

    .page__side {
        display: none;
        @include mq($medium) {
            display: block;
        }
    }
}

.page_news {

    .page__icon_left {
        top: 1042px;

    }

    .page__icon_right {
        top: 272px;
    }

}

.page_nav_open {
    overflow-y: hidden;
}




img.lazy {
    max-width: 100%;
    height: auto;
    &.lazy {
        opacity: 0;

    }

    &:not(.initial) {
        @include tr(opacity .3s);
    }

    &.initial,
    &.loaded,
    &.error {
        opacity: 1;
    }

}


img.lazy:not([src]):not([srcset]) {
    visibility: hidden;
}


a {
    color: currentColor;
    text-decoration: none;
    @include tr(.3s ease);
    &:hover {
        color: currentColor;
        text-decoration: none;
    }
}



// .mfp-bg {
//     background-color: rgba(26, 26, 26, 1);
//     opacity: 1;
// }

// button.mfp-close,
// button.mfp-arrow {
//     top: 10px;
//     right: 10px;
//     font-size: 70px;
// }
