.subnav {
    padding-top: 5px;
    padding-bottom: 5px;
    @include mq($medium) {
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 30px;
        padding-left: 16px;

    }
    &__item {

    }

    &__link {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        display: inline-flex;
        color: rgba(255,255,255,.5);
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
        // text-transform: uppercase;
        text-decoration: none;
        @include tr(.3s ease);

        @include mq($medium) {
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;

        }

        &:hover {
            color: var(--white);
        }
    }
}
