mixin article(data)
    article.article.text
        h1.article__title Сердечный совет: людям с сердечно-сосудистыми заболеваниями стоит сделать

        figure.article__image
            picture
                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/article-img.webp")
                source(type="image/jpg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/article-img.jpg")
                img.lazy.lazy(width="870" height="373" src="static/img/general/placeholder-image.png", alt="Сердечный совет: людям с сердечно-сосудистыми заболеваниями стоит сделать ", data-src="static/img/content/article-img.jpg")

        p We are opening up our platform and inviting all builders to create the first plugins and widgets for FigJam. Check out our documentation to start building new plugins or republishing your existing Figma plugins for FigJam. You can also apply to be among the first users to create widgets.

        p And to everyone that’s excited to use these community-built plugins and widgets: stay tuned—you’ll be able to add these to your jams soon.

        hr

        p Plugins can be tremendously powerful for automating individual workflows, like turning a CSV into a grid of sticky notes or adding tags to sticky notes to help with synthesis. But for a collaborative tool like FigJam, we knew builders would also want an API that could enable collaborative and interactive experiences—from voting, to polls, to on-canvas games. That’s why we’re also releasing an API for building custom interactive widgets that teams can drag and drop directly into their boards.

        p Today we’re bringing our open platform to FigJam with those same principles in mind. And because FigJam is all about jamming together, we’re taking it one step further by making sure our platform supports more collaborative use cases.

        blockquote
            p “Lectus id in sed et, lorem ut. Scelerisque consectetur et quis proin velit aliquet. Enim, sit nibh adipiscing pulvinar risus mauris. Viverra malesuada nisi, nulla arcu, vitae tellus. Odio leo dignissim nisi condimentum semper leo donec egestas. Faucibus integer ante.”

    .article__row
        .article__social.social.social_style_second
            ul.social__list
                li.social__item
                    a.social__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'facebook-2-icon', className: 'social__icon'})
                li.social__item
                    a.social__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'instagram-2-icon', className: 'social__icon'})
                li.social__item
                    a.social__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'vk-icon', className: 'social__icon'})
                li.social__item
                    a.social__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'youtube-icon', className: 'social__icon'})
                li.social__item
                    a.social__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'twitter-2-icon', className: 'social__icon'})
                li.social__item
                    a.social__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'ok-icon', className: 'social__icon'})
        .article__author
            span.article__author-title Автор:
            | Крансобородов А. А.

        .article__meta
            .article__date
                .article__date-title Дата публикации:
                time.article__date-text(datetime="2001-05-15 19:00") 05.04.2021
            a.article__print(href="#print")
                != pugHelpers.Icon.call(locals, {iconName: 'print-icon', className: 'article__print-icon'})
                | Версия для печати


mixin article-about(data)
    article.article.text.text_style_second
        h1.article__title О фонде

        p Территориальный фонд обязательного медицинского страхования Республики Дагестан - юридическое лицо, созданное Республикой Дагестан в организационно-правовой форме государственного социального фонда, некоммерческая организация, не имеющая членства и созданная для осуществления государственных функций в целях обеспечения реализации прав граждан на обязательное медицинское страхование и управления средствами бюджета территориального фонда обязательного медицинского страхования. Функции и полномочия учредителя в отношении Территориального фонда ОМС осуществляются высшим органом исполнительной власти – Правительством Республики Дагестан.

        p Положение о территориальном фонде обязательного медицинского страхования утверждается высшим органами исполнительной власти - Правительством Республики Дагестан в соответствии с требованиями к уставу государственных социальных фондов субъектов Российской Федерации, утверждаемыми Правительством Российской Федерации.

        p Органами управления Территориального фонда обязательного медицинского страхования Республики Дагестан являются Правление территориального фонда обязательного медицинского страхования Республики Дагестан и директор территориального фонда обязательного медицинского страхования Республики Дагестан.

        p ТФОМС РД создан Постановлением Президиума Верховного Совета Республики Дагестан от 24 июня 1993 г. "О Республиканском фонде обязательного медицинского страхования граждан в Республике Дагестан". В настоящее время действует на основании положения, утвержденного Постановлением Правительства Республики Дагестан от 7 июля 2011 года № 227, и имеет в своей структуре 10 филиалов.

        p В страховом поле Республики Дагестан функционирует одна страховая медицинская организация

        ul
            li
                a(href="#") Перечень основных нормативных документов, регламентирующих деятельность ТФОМС РД на 17 января 2020 года

mixin article-policy-check(data)
    article.article.text.text_style_second
        h1.article__title Онлайн сервисы для МО, СМО и граждан

        p Уважаемые посетители сайта!

        p Переход на электронные услуги - это настоятельное требование времени, а стратегические информационные технологии - одно из важнейших направлений развития страны.

        p Территориальный фонд ОМС Республики Дагестан в целях обеспечения реализации государственной политики в области предоставления государственных услуг в электронном виде реализовал получение, как гражданами, так и медицинскими и страховыми медицинскими организациями приведенных ниже услуг.

        ul.list
            li <strong>&nbsp;&nbsp;&nbsp;&nbsp;1. Лица, подавшие заявление на выбор страховой медицинской организации</strong> или на перевыпуск полиса ОМС, имеют возможность в режиме онлайн проверить, в какой стадии находится изготовление полиса ОМС.
            li <strong>&nbsp;&nbsp;&nbsp;&nbsp;Сервис также может быть полезен медицинским организациям,</strong> которые неточно указали сведения о полисе ОМС в первичной медицинской документации.
            li &nbsp;&nbsp;&nbsp;Этот сервис доступен любому застрахованному лицу или медицинской организации, без регистрации на сайте.

        a.article__button.button.button_style_important(href="#") Проверить действительность полиса ОМС

        ul.list
            li <strong>&nbsp;&nbsp;&nbsp;&nbsp;2. В целях реализации пункта 210 раздела XV Правил обязательного медицинского страхования,</strong> утвержденных приказом Министерства здравоохранения и социального развития Российской Федерации от 28.02.2011 №158н Территориальный фонд обязательного медицинского страхования Республики Дагестан предоставляет гражданам услуги по формированию сведений:

            li &nbsp;&nbsp;&nbsp; о страховой медицинской организации выбранной застрахованным лицом;
            li &nbsp;&nbsp;&nbsp; о медицинской организации, к которой прикреплено застрахованное лицо для оказания первичной амбулаторно-поликлинической медицинской помощи;
            li &nbsp;&nbsp;&nbsp; о медицинской организации, оказавшей медицинские услуги застрахованному лицу, условиях оказания и наименованиях оказанных медицинских услуг, о периоде и датах оказания медицинских услуг, стоимости медицинских услуг, за период лечения.

            li &nbsp;&nbsp;&nbsp; Этот сервис доступен только тем пользователям, которые зарегистрированы в Единой системе идентификации и авторизации (ЕСИА). Сервис доступен также лицам, уже зарегистрированным на Портале государственных услуг.

            li &nbsp;&nbsp;&nbsp; Сервис предоставляется через Личный кабинет застрахованного лица на нашем сайте, создаваемого при регистрации и открываемого при авторизации в ЕСИА через наш сайт.
            li Сервис временно не доступен по техническим причинам!

        ul.list
            li <strong>3. На нашем сайте медицинские и страховые медицинские организации могут воспользоваться следующими сервисами:</strong>

            li
                a(href="#link") Проверка стадии обработки файла счетов МО
            li
                a(href="#link") Подача уведомления медицинской организации об осуществлении деятельности в системе ОМС Республики Дагестан.
            li
                a(href="#link") Подача уведомления страховой медицинской организации об осуществлении деятельности в системе ОМС Республики Дагестан.
            li
                a(href="#link") Юридически значимый электронный документооборот
