.footer {
    z-index: 1;
    position: relative;
    background: var(--gray);

    &__container {
        padding-top: 74px;
        padding-bottom: 33px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        color: #334756;

        @include mq($m) {

        }

    }

    &__col {
        max-width: 328px;
        max-width: 26.8%;
        width: 100%;
    }

    &__col_nav {
        // max-width: 200px;
        max-width: 16.3%;
        width: 100%;
    }

    &__col_poll {
        // max-width: 270px;
        max-width: 22%;
        width: 100%;
    }

    &__logo {
        margin-bottom: 22px;
        @include mq($m) {
            // margin-bottom: 50px;

        }
    }

    &__contacts {

    }

    &__contact {
        margin-bottom: 22px;
    }

    &__phone {
        margin-bottom: 22px;
    }

    &__address {
        color: #334756;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.4;
    }

    &__email {

    }

    &__map-link {
        margin-top: 54px;
        display: flex;
    }

    &__nav {
        margin-bottom: 15px;
        width: 100%;
        @include mq($m) {
            margin-bottom: 0;
            width: auto;
        }
    }

    &__form {

        @include mq($m) {
            display: none;
        }
    }

    &__social {
        margin-left: auto;
        max-width: 158px;
        max-width: 13%;
        @include mq($m) {
        }
    }

    &__copyright {
        position: relative;
        margin-top: 67px;
        padding-top: 22px;
        max-width: 100%;
        width: 100%;
        color: #667580;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        text-align: center;
        text-align: center;
        @include mq($m) {
        }

        &:after {
            position: absolute;
            top: 0;
            left: 50%;
            width: 650px;
            height: 1px;
            background-color: #667580;;
            content: '';
            transform: translateX(-50%)
        }
    }



}
