mixin footer(data)
    footer.footer&attributes(attributes)
        .footer__container.container
            .footer__col.footer__col_first
                .footer__logo
                    a.logo.logo_style_second(href="#")
                        picture.logo__image
                            source(type="image/webp", srcset="static/img/general/logo.webp", data-srcset="static/img/general/logo.webp")
                            source(type="image/png", srcset="static/img/general/logo.png", data-srcset="static/img/general/logo.png")
                            img.lazy.lazy(src="static/img/general/logo.png", alt="Территориальный фонд обязательного медицинского страхования Республики Дагестан", data-src="static/img/general/logo.png")

                .footer__contacts
                    a.footer__contact.footer__phone.phone.phone_style_second(href="tel:+88002222905")
                        != pugHelpers.Icon.call(locals, {iconName: 'phone-icon', className: 'phone__icon'})
                        | 8-800-2222-905
                    .footer__contact.footer__address 367008, г.Махачкала, ул.Ляхова, 47а
                    a.footer__contact.footer__email(href="mailto:direct@fomsrd.ru") direct@fomsrd.ru

                    a.footer__map-link.more(href="#") Открыть карты
                        != pugHelpers.Icon.call(locals, {iconName: 'more-icon', className: 'more__icon'})

            .footer__col.footer__col_nav.footer__col_nav_first.footer__col_nav_active
                nav.footer__nav.nav.nav_secondary
                    .nav__title О Фонде
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-down-icon', className: 'nav__dropdown-icon'})

                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#") Руководство фонда
                        li.nav__item
                            a.nav__link(href="#") Деятельность фонда
                        li.nav__item
                            a.nav__link(href="#") Защита прав
                        li.nav__item
                            a.nav__link(href="#") Карта сайта

            .footer__col.footer__col_nav.footer__col_nav_second
                nav.footer__nav.nav.nav_secondary
                    .nav__title Новости
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-down-icon', className: 'nav__dropdown-icon'})
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#") Региональные
                        li.nav__item
                            a.nav__link(href="#") Федеральные
                        li.nav__item
                            a.nav__link(href="#") Уведомление

            .footer__col.footer__col_poll
                .footer__poll.poll
                    .poll__title Опрос

                    .poll__text Была ли полезной для Вас информация с нашего сайта?


                    form.poll__form.form
                        .poll__field.form__field.form__field_radio.form-check
                            input#exampleRadios1.form__radio.form-check-input(type='radio' name='exampleRadios' value='option1' checked='')
                            label.form__label.form-check-label(for='exampleRadios1') Да, мне помогли
                        .poll__field.form__field.form__field_radio.form-check
                            input#exampleRadios2.form__radio.form-check-input(type='radio' name='exampleRadios' value='option1' )
                            label.form__label.form-check-label(for='exampleRadios2') Да, но не особо
                        .poll__field.form__field.form__field_radio.form-check
                            input#exampleRadios3.form__radio.form-check-input(type='radio' name='exampleRadios' value='option1' )
                            label.form__label.form-check-label(for='exampleRadios3') Нет, мне не  нашел ничего

                        button.button.button_style_third(type='submit') Голосовать

            .footer__social.social
                .social__title Мы в соц. Сетях
                ul.social__list
                    li.social__item
                        a.social__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'facebook-icon', className: 'social__icon'})

                    li.social__item
                        a.social__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'twitter-icon', className: 'social__icon'})

                    li.social__item
                        a.social__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'instagram-icon', className: 'social__icon'})

            .footer__copyright Copyright © Территориальный фонд обязательного медицинского страхования Республики Дагестан. <br/>Все права защищены. Все материалы сайта доступны по лицензии: Creative Common Attribution 3.0
