.logo {
    display: inline-flex;
    max-width: 368px;
    width: 100%;
    height: 75px;
    line-height: 1;
    @include mq($medium) {
        margin-top: 0;
        height: 95px;
        order: 0;
    }

    img.lazy {
        display: block;
        height: 100%;
        object-fit: cover;
    }

}

.logo_style_second {
    max-width: 275px;
    height: 71px;
}
