.social {
    width: 100%;
    &__title {
        margin-bottom: 16px;
        font-weight: normal;
        font-size: 20px;
        line-height: 1;
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        margin-left: 30px;

    }

    &__link {
        color: var(--black);
        @include tr(.3s ease);

        &:hover {
            opacity: .8;
            @include tr(.3s ease);

        }

    }

    &__icon {

    }
}
