mixin management(data)
    section.management
        h1.management__title.title.title_second Руководство
        .management__list
            article.management__manager
                picture.management__photo
                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/manager-photo-1@2x.webp")
                    source(type="image/jpeg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/manager-photo-1@2x.jpg")
                    img.lazy.lazy(width="288" height="210" src="static/img/general/placeholder-image.png", alt="Изображение", data-src="static/img/content/manager-photo-1@2x.jpg")

                .management__entry
                    .management__name Гудов Ахмед Гаджиевич
                    .management__role Директор ТФОМС РД
                    .management__phone +7 (8722) 55 44 35
                    .management__text Осуществляет общее руководство деятельностью ТФОМС РД;  осуществляет взаимодействие с органами исполнительной, законодательной и муниципальной власти; участвует в заседаниях Правительства РД, Президиума Народного Собрания РД по вопросам, касающимся деятельности ТФОМС РД, а также на совещаниях, проводимых руководством Республики Дагестан и Федеральным фондом обязательного медицинского страхования;

                //- a.management__link(href="#")

            article.management__manager
                picture.management__photo
                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/manager-photo-2@2x.webp")
                    source(type="image/jpeg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/manager-photo-2@2x.jpg")
                    img.lazy.lazy(width="288" height="210" src="static/img/general/placeholder-image.png", alt="Изображение", data-src="static/img/content/manager-photo-2@2x.jpg")

                .management__entry
                    .management__name Зайпуллаева Халисат Насруллаева
                    .management__role Первый заместитель директора
                    .management__phone +7 (8722) 55 44 67
                    .management__text Координирует и контролирует работу: <br/>Финансово-экономического управления; отдел экономического анализа и тарифов в сфере ОМС; финансово-бюджетный отдел; отдел анализа приоритетных программ ОМС.
                a.management__link(href="#")

            article.management__manager
                picture.management__photo
                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/manager-photo-3@2x.webp")
                    source(type="image/jpeg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/manager-photo-3@2x.jpg")
                    img.lazy.lazy(width="288" height="210" src="static/img/general/placeholder-image.png", alt="Изображение", data-src="static/img/content/manager-photo-3@2x.jpg")

                .management__entry
                    .management__name Айдиева Алпият Магомед-Ганипаевна
                    .management__role Заместитель директора
                    .management__phone +7 (8722) 55 49 65
                    .management__text Координирует и контролирует работу: Контрольно-ревизионное управление;Отдел аналитической и организационно-сводной работы.
                a.management__link(href="#")

            article.management__manager
                picture.management__photo
                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/manager-photo-4@2x.webp")
                    source(type="image/jpeg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/manager-photo-4@2x.jpg")
                    img.lazy.lazy(width="288" height="210" src="static/img/general/placeholder-image.png", alt="Изображение", data-src="static/img/content/manager-photo-4@2x.jpg")

                .management__entry
                    .management__name Ахмедов Махмуд-Апанди Гаджимагомедович
                    .management__role Заместитель директора
                    .management__phone +7 (8722) 55 49 65
                    .management__text Координирует и контролирует работу: Управления организации ОМС, включающего в себя: отдел мониторинга качества   медицинской помощи; отдел защиты прав застрахованных; отдел формирования и   мониторинга Территориальной программы ОМС; отдел по работе с СМО и участниками   системы ОМС; отдел экономического контроля и взаимодействия с регионами. Районных и городских филиалов ТФОМС РД.
                a.management__link(href="#")
