.section-nav {
    margin-right: -5px;
    margin-left: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    &__item {
        padding-right: 5px;
        padding-left: 5px;
        max-width: 33.3%;
        width: 100%;
        height: 110px;
        @include tr(.1s ease);
        &:hover {
            // max-width: 35.7%;
            .section-nav__link {
                color: #334756;
            }
            // .section-nav__button {
            //     // margin-left: 20px;
            //     background: var(--white);
            // }
            // .button__text {
            //     display: inline-flex;
            //     color: #086de0;
            // }
            // .button__arrow {
            //     margin-left: 10px;
            //     width: 16px;
            // }
        }
    }

    &__item_active {
        max-width: 35.7%;
        @include tr(.1s ease);

        .section-nav__link {
            background-color: #086de0;
            color: var(--white);
            @include tr(.1s ease);

        }

        .section-nav__button {
            // margin-left: 20px;
            background: var(--white);
        }
        .button__text {
            display: inline-flex;
            color: #086de0;
        }
        .button__arrow {
            margin-left: 10px;
            width: 16px;
        }

        .section-nav__icon {
            color: var(--white);
        }

        &:hover {
            .section-nav__link {
                color: var(--white);
            }
        }
    }

    &__link {
        padding-top: 30px;
        @include padding-right(40px);
        // padding-right: 40px;
        padding-bottom: 30px;
        // padding-left: 40px;
        @include padding-left(35px);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #edf1f3;
        color: #334756;
        text-decoration: none;
        cursor: pointer;
        @include tr(.1s ease);
        &:hover {

        }
    }


    &__icon {
        flex-shrink: 0;

        color: #086de0;
    }

    &__text {
        margin-right: 20px;
        margin-left: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        text-align: left;
    }

    &__button {
        // margin-left: 20px;
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        height: 48px;

    }

}
