.section-nav {
    padding-top: 20px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "section-nav__item_1 section-nav__item_2"
        "section-nav__item_3 section-nav__item_3";

    overflow: hidden;

    @include mq($medium) {
        margin-right: -5px;
        margin-left: -5px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }

    &__item {
        margin-bottom: 5px;
        width: 100%;
        // height: 91px;
        @include tr(.1s ease);

        @include mq($medium) {
            margin-bottom: 0;
            padding-right: 5px;
            padding-left: 5px;
            max-width: 33.3%;
            height: 110px;
        }

        &:hover {
            .section-nav__link {
                background-color: #086de0;
                color: var(--white);

            }
            .section-nav__icon {
                color: var(--white);
            }

            .section-nav__button {
                background: white;
                color: var(--white);
            }
        }
    }

    &__item_1 {
        grid-area: section-nav__item_1;
        // order: 0;
        @include mq($medium) {
            // order: 0;
        }

        .section-nav__icon {
            width: 30px;
            height: 24px;

            @include mq($medium) {
                width: 48px;
                height: 48px;
            }
        }

    }

    &__item_2 {
        grid-area: section-nav__item_3;
        @include mq($medium) {
            grid-area: section-nav__item_2;
        }

        .section-nav__link {
            flex-direction: row;
            justify-content: center;
        }

        .section-nav__text {
            white-space: nowrap;

            br {
                display: none;
                @include mq($medium) {
                    display: block;
                }
            }
        }
        .section-nav__icon {
            width: 30px;
            height: 24px;

            @include mq($medium) {
                width: 48px;
                height: 48px;
            }
        }


    }

    &__item_3 {
        grid-area: section-nav__item_2;
        // order: 1;
        @include mq($medium) {
            // order: 2;
            grid-area: section-nav__item_3;

        }

        .section-nav__icon {
            width: 27px;
            height: 30px;

            @include mq($medium) {
                width: 48px;
                height: 48px;
            }
        }

        .section-nav__text {
            margin-top: -6px;
            @include mq($medium) {
                margin-top: 0;
            }
        }

    }


    &__item_active {
        @include tr(.1s ease);

        @include mq($large) {
            max-width: 35.7%;
        }

        .section-nav__link {
            @include tr(.1s ease);

            @include mq($medium) {
                background-color: #086de0;
                color: var(--white);

            }

        }

        .section-nav__button {
            background: var(--white);

            .button__text {
                display: none;
                color: #086de0;
                @include mq($large) {
                    display: inline-flex;
                }
            }
        }
        .button__arrow {
            margin-left: 10px;
            width: 16px;
        }

        .section-nav__icon {
            @include mq($medium) {
                color: var(--white);

            }
        }

        &:hover {
            .section-nav__link {
                background-color: #086de0;
                color: var(--white);
            }
            .section-nav__icon {
                color: var(--white);
            }
        }
    }

    &__link {
        padding-top: 13px;
        padding-right: 14px;
        padding-bottom: 13px;
        padding-left: 14px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: #edf1f3;
        color: #334756;
        text-decoration: none;
        cursor: pointer;
        @include tr(.1s ease);

        @include mq($medium) {
            @include padding-top(30px);
            @include padding-right(15px);
            @include padding-left(15px);
            @include padding-bottom(30px);
            justify-content: space-between;
            flex-direction: row;
        }

        @include mq($large) {
            @include padding-right(30px);
            @include padding-left(30px);
        }

        &:hover {

        }
    }


    &__icon {
        margin-bottom: 5px;
        width: 34px;
        flex-shrink: 0;
        color: #086de0;
        @include mq($medium) {
            margin-bottom: 0;
            width: 48px;
        }
    }

    &__text {
        @include margin-right(20px);
        @include margin-left(20px);
        font-weight: 600;
        @include font-size(13px);
        line-height: 1.38;
        letter-spacing: 0.1px;
        text-align: center;
        @include mq($medium) {
            @include font-size(14px);
            text-align: left;

        }
        @include mq($large) {
            @include font-size(16px);
            line-height: 1.5;
        }
    }

    &__button {
        margin-left: auto;
        height: 30px;
        display: none;
        align-items: center;
        @include mq($medium) {
            height: 48px;
            display: inline-flex;
        }

        .button__text {
            display: none;
            @include mq($medium) {

            }
        }

        .button__arrow {
            margin-left: 0;
            width: 17px;
            @include mq($medium) {
                margin-left: 10px;
                width: 28px;
            }
        }
    }





}
