.about {

    &__container {
        position: relative;
        padding-top: 70px;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        @include mq($m) {
            padding-top: $padding-section;
            padding-bottom: 90px;

        }

        &:after {
            position: absolute;
            top: 100%;
            left: 30px;
            right: 30px;
            content: '';
            height: 1px;
            background-color: #162150;
            @include mq($m) {
                display: none;
            }

        }

    }

    &__entry {
        width: 100%;
        @include mq($m) {
            padding-right: 33px;
            max-width: 57.8%;
        }
    }

    &__title {
        margin-bottom: 10px;
        @include mq($m) {
            margin-bottom: 16px;
        }

    }

    &__text {
        color: rgba(255,255,255,.5);
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.3px;
        @include mq($m) {
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.3px;
        }
    }

    &__more {
        margin-top: 36px;
        padding-right: 20px;
        padding-left: 20px;
        height: 50px;
        @include mq($m) {
            padding-right: 30px;
            padding-left: 20px;
            height: 60px;
        }

    }

    &__video {
        position: relative;
        margin-bottom: 32px;
        width: 100%;
        height: 250px;
        background-color: #1c275a;
        order: -1;
        border-radius: 8px;

        @include mq($m) {
            margin-bottom: 0;
            max-width: 42.2%;
            height: 380px;
            order: 1;
        }

        &:after,
        &:before {

            @include mq($m) {
                z-index: -1;
                position: absolute;
                content: '';
            }

        }

        &:before {
            top: 30px;
            left: -240px;
            width: 599px;
            height: 514px;
            background: url('../img.lazy/general/about-video-img.lazy.png') 0 0 no-repeat;
        }

        &:after {
            top: -80px;
            left: -610px;
            width: 1187px;
            height: 1175px;
            background: url('../img.lazy/general/about-video-glow.png') 0 0 no-repeat;
        }
    }

    &__video-object {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0%;
        border-radius: 8px
    }

    &__video-button {
        @include resetbutton();
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
    }

    &__video-icon {
        width: 48px;
        height: 48px;
        @include mq($m) {
            width: 68px;
            height: 68px;
        }

    }


}
