.news {
    position: relative;
    padding-top: 18px;
    padding-bottom: 24px;
    @include mq($medium) {
        padding-top: 24px;
        padding-left: 10px;
    }
    &__top {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__more-w {
        margin-top: 0px;
        text-align: center;
        @include mq($medium) {
            position: absolute;
            top: 34px;
            right: 5px;
            margin-top: 0;
        }
    }

    &__more {
        @include mq($medium) {

        }
    }

    &__title {
        margin-bottom: 19px;
        text-align: left;
        @include mq($medium) {
            margin-bottom: 27px;
        }
    }

    &__articles {
        display: flex;
        flex-wrap: wrap;
    }

    &__article {
        position: relative;
        margin-bottom: 16px;
        @include mq($medium) {
            margin-bottom: 19px;
        }

        &:nth-child(n+3) {
            display: none;
            @include mq($medium) {
                display: block;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__article-link {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include mq($medium) {
            min-height: 170px;
        }
    }

    &__image-w {
        max-width: 28%;
        width: 100%;
        display: none;
        flex-shrink: 0;
        @include mq($medium) {
            display: block;
        }
    }

    &__image {
        display: none;
        width: 100%;
        min-height: 138px;
        @include mq($medium) {
            display: block;
        }

        img.lazy {
            display: block;
            min-height: 138px;

            height: 100%;
            object-fit: cover;

            @include mq($medium) {
                max-height: 138px;
            }
        }
    }

    &__meta {
        padding-top: 10px;
        padding-right: 9px;
        padding-bottom: 6px;
        padding-left: 9px;
        display: none;
        background-color: #2c394b;
        @include mq($medium) {
            margin-top: -4px;
            display: block;
        }
    }

    &__meta_mob {
        margin-bottom: 2px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        display: block;
        background-color: transparent;
        color: #ff4c29;
        @include mq($medium) {
            display: none;
            margin-bottom: 0;
        }

        .news__date {
            color: #ff4c29;
        }
    }

    &__date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--white);
        @include font-size(11px);
        font-weight: normal;
        line-height: 1;
        text-align: left;
        @include mq($medium) {
            @include font-size(13px);
        }
    }

    &__date-icon {
        margin-right: 6px;
        width: 14px;
        height: 14px;
        @include mq($medium) {
            width: 18px;
            height: 18px;
        }

    }

    &__entry {
        margin-left: 0;
        @include mq($medium) {
            @include margin-left(15px)
        }

        @include mq($large) {
            margin-top: -6px;
            @include margin-left(27px);
        }
    }

    &__article-title {
        margin: 0 auto;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 50px;
        color: #1c1c1c;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;

        @include mq($medium) {
            margin-bottom: 12px;
            padding-right: 50px;
            height: auto;
            @include font-size(20px);
            line-height: 1.4;
            -webkit-line-clamp: 4;
        }

        @include mq($large) {
            @include font-size(22px);
        }

    }

    &__article-text {
        display: none;
        color: #7a7a7a;
        font-weight: normal;
        @include font-size(14px);
        line-height: 1.1;
        @include mq($medium) {
            display: block;
            @include font-size(15px);
        }
        @include mq($large) {
            padding-right: 24px;
            @include font-size(16px);
        }

        p {
            margin-bottom: 21px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}


.news_media {
    padding-bottom: 11px;
    @include mq($medium) {
        padding-bottom: 58px;
    }
    .news__article {
        margin-bottom: 22px;
        @include mq($medium) {
            margin-bottom: 16px;
        }
    }

    .news__article-title {
        @include font-size(18px);
    }

    .news__more-w {
        right: 0;
    }


}

.news_separate {
    padding-top: 0;
    padding-bottom: 0px;
    padding-left: 0;
    // overflow: hidden;
    .news__article-title {
        margin-bottom: 4px;
        padding-right: 0;
        height: 46px;
        @include font-size(16px);

        @include mq($medium) {
            margin-bottom: 18px;
            height: auto;
            @include font-size(18px);

        }
    }
    .news__article-text {
        display: block;
        @include mq($medium) {
            @include font-size(15px);
        }
    }
}
