.news {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    &__top {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        text-align: left;
    }

    &__articles {
        display: flex;
        flex-wrap: wrap;
    }

    &__article {
        position: relative;
        margin-bottom: 24px;

    }

    &__article-link {
        max-width: 100%;
        width: 100%;
        min-height: 175px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__image-w {
        max-width: 28%;
        width: 100%;
        flex-shrink: 0;
    }

    &__image {
        width: 100%;
        min-height: 138px;
    }

    &__meta {
        padding-top: 6px;
        padding-right: 9px;
        padding-bottom: 9px;
        padding-left: 9px;
        background-color: #2c394b;
    }

    &__date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--white);
        font-size: 13px;
        font-weight: normal;
        line-height: 1;
        text-align: left;
    }

    &__date-icon {
        margin-right: 6px;
    }


    &__entry {
        margin-top: -6px;
        margin-left: 27px;
    }

    &__article-title {
        margin-bottom: 8px;
        padding-right: 50px;
        color: #1c1c1c;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4;
        text-align: left;
    }

    &__article-text {
        padding-right: 30px;
        color: #7a7a7a;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.1;

        p {
            margin-bottom: 16px;
        }
    }

}


.news_media {
    .news__article-title {
        font-size: 18px;
    }
}
