mixin header(data)
    header.header&attributes(attributes)
        .header__container.container

            .header__logo
                a.logo(href="#")
                    picture.logo__image
                        source(type="image/webp",srcset="", data-srcset="static/img/general/logo.webp")
                        source(type="image/png", srcset="", data-srcset="static/img/general/logo.png")
                        img.lazy.lazy(src="", alt="Территориальный фонд обязательного медицинского страхования Республики Дагестан", data-src="static/img/general/logo.png")


            .header__controls

                a.header__special-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'special-version-icon', className: 'header__special-icon'})
                    | Для слабовидящих

                .header__contacts
                    a.header__phone.phone(href="tel:88002222905") 8-800-2222-905
                    a.header__contacts-link(href="#") Контакт-центр в сфере ОМС РД

                a.header__control.button(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'user-2-icon', className: 'button__icon'})
                    | Личный кабинет

            +nav(nav.primaryList).header__nav.nav_primary
