.side-nav {

    &__list {

    }

    &__item {
        margin-bottom: 5px;
        &:hover {
            .side-nav__link {
                background-color: darken(#334756, 10);
                color: var(--white);
                @include tr(.3s ease);
            }
        }
    }

    &__item_attention {
        .side-nav__link {
            background-color: #ff4c29;
        }
        .side-nav__icon {
            color: #C7371B;
        }
        .side-nav__title {
            font-weight: bold;
            font-size: 14px;
            line-height: 1.2;
            @include mq($medium) {
                @include font-size(18px);
            }
            @include mq($large) {
                @include font-size(22px);

            }
        }
        .side-nav__text {
            margin-top: 6px;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.2;
            @include mq($medium) {
                @include font-size(16px);
            }
            @include mq($large) {
                @include font-size(18px);
            }
        }

        &:hover {
            .side-nav__link {
                background-color: darken(#ff4c29, 10);
            }
        }

    }

    &__link {
        @include padding-top(10px);
        @include padding-bottom(10px);
        @include padding-right(20px);
        @include padding-left(20px);
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: var(--dark);
        color: var(--white);
        text-decoration: none;
        @include tr(.3s ease);

        @include mq($medium) {
            padding-right: 0;
            @include padding-top(15px);
            @include padding-right(15px);
            @include padding-bottom(15px);
            @include padding-left(15px);
            height: 90px;

        }

        @include mq($large) {
            padding-right: 0;
            @include padding-top(18px);
            @include padding-bottom(18px);
            height: 90px;

        }

    }

    &__icon {
        width: 30px;
        flex-shrink: 0;
        color: #48667C;

        @include mq($medium) {
            width: 48px;
        }
    }
    &__entry {
        margin-left: 10px;
        @include mq($medium) {
            margin-left: 15px;
        }
    }

    &__title {
        font-weight: 600;
        @include font-size(14px);
        line-height: 1.2;
        @include mq($medium) {
            @include font-size(15px);
        }
        @include mq($large) {
            @include font-size(18px);
        }


    }

    &__text {

    }
}
