.side-nav {

    &__list {
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "side-nav__item_1 side-nav__item_1"
            "side-nav__item_2 side-nav__item_2"
            "side-nav__item_3 side-nav__item_4"
            "side-nav__item_5 side-nav__item_6"
            "side-nav__item_7 side-nav__item_8";

        @include mq($medium) {
            display: block;
        }
    }

    &__item {
        margin-bottom: 0;

        @include mq($medium) {
            margin-bottom: 5px;

        }
        &:hover {
            .side-nav__link {
                background-color: darken(#334756, 10);
                color: var(--white);
                @include tr(.3s ease);
            }
        }
    }

    &__item_attention {
        margin-bottom: 0;
        @include mq($medium) {
            margin-bottom: 5px;
        }
        // height: 50px;
        .side-nav__link {
            height: 50px;
            flex-direction: row;
            justify-content: flex-start;
            background-color: #ff4c29;
            @include mq($medium) {
                height: 90px;
            }

        }
        .side-nav__entry {
            margin-left: 10px;
            @include mq($medium) {
                margin-left: 22px;
            }
        }
        .side-nav__icon {
            color: #C7371B;
        }
        .side-nav__title {
            min-height: auto;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.2;
            @include mq($medium) {
                @include font-size(18px);
            }
            @include mq($large) {
                @include font-size(22px);

            }
        }
        .side-nav__text {
            margin-top: 6px;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.2;
            @include mq($medium) {
                @include font-size(16px);
            }
            @include mq($large) {
                @include font-size(18px);
            }
        }

        &:hover {
            .side-nav__link {
                background-color: darken(#ff4c29, 10);
            }
        }

    }

    &__item_1 {
        grid-area: side-nav__item_1;
    }

    &__item_2 {
        grid-area: side-nav__item_2;
        margin-bottom: 2px;

        @include mq($medium) {
            margin-bottom: 5px;
        }

        .side-nav__link {
            height: 53px;

            @include mq($medium) {
                height: 90px;
            }

        }
    }

    &__item_3 {
        grid-area: side-nav__item_3;
    }

    &__item_4 {
        grid-area: side-nav__item_4;
    }

    &__item_5 {
        grid-area: side-nav__item_5;
    }

    &__item_6 {
        grid-area: side-nav__item_6;
    }

    &__item_7 {
        grid-area: side-nav__item_7;
    }

    &__item_8 {
        grid-area: side-nav__item_8;
    }

    &__link {
        @include padding-top(14px);
        @include padding-bottom(14px);
        @include padding-right(14px);
        @include padding-left(14px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: var(--dark);
        color: var(--white);
        text-align: center;
        text-decoration: none;
        @include tr(.3s ease);

        @include mq($medium) {
            padding-right: 0;
            @include padding-top(15px);
            @include padding-right(15px);
            @include padding-bottom(15px);
            @include padding-left(20px);
            height: 90px;
            justify-content: flex-start;
            flex-direction: row;
            text-align: left;
        }

        @include mq($large) {
            padding-right: 0;
            @include padding-top(15px);
            @include padding-bottom(15px);
            height: 90px;

        }

    }

    &__icon {
        width: 30px;
        flex-shrink: 0;
        color: #48667C;

        @include mq($medium) {
            width: 48px;
        }
    }
    &__entry {
        // margin-left: 10px;
        @include mq($medium) {
            margin-left: 20px;
        }
    }

    &__title {
        min-height: 32px;
        display: flex;
        align-items: center;
        font-weight: 600;
        @include font-size(13px);
        line-height: 1.2;
        @include mq($medium) {
            min-height: auto;
            align-items: flex-start;
            @include font-size(15px);
        }
        @include mq($large) {
            @include font-size(18px);
        }


    }

    &__text {

    }
}
