mixin departments(data)
    .departments

        .departments__container.container

            .departments__slider
                .swiper
                    .swiper-wrapper

                        .swiper-slide
                            .departments__slide.departments__slide_1
                                figure.departments__logo
                                    picture
                                        source(type='image/webp' srcset='static/img/general/dep-img-1.webp' data-srcset='static/img/general/dep-img-1.webp')
                                        source(type='image/png' srcset='static/img/general/dep-img-1.png' data-srcset='static/img/general/dep-img-1.png')
                                        img.lazy.lazy(src='static/img/general/dep-img-1.png' data-src='static/img/general/dep-img-1.png' alt='')

                        .swiper-slide
                            .departments__slide.departments__slide_2
                                figure.departments__logo
                                    picture
                                        source(type='image/webp' srcset='static/img/general/dep-img-2.webp' data-srcset='static/img/general/dep-img-2.webp')
                                        source(type='image/png' srcset='static/img/general/dep-img-2.png' data-srcset='static/img/general/dep-img-2.png')
                                        img.lazy.lazy( src='static/img/general/dep-img-2.png' data-src='static/img/general/dep-img-2.png' alt='')

                        .swiper-slide
                            .departments__slide.departments__slide_3
                                figure.departments__logo
                                    picture
                                        source(type='image/webp' srcset='static/img/general/dep-img-3.webp' data-srcset='static/img/general/dep-img-3.webp')
                                        source(type='image/png' srcset='static/img/general/dep-img-3.png' data-srcset='static/img/general/dep-img-3.png')
                                        img.lazy.lazy( src='static/img/general/dep-img-3.png' data-src='static/img/general/dep-img-3.png' alt='')


                        .swiper-slide
                            .departments__slide.departments__slide_4
                                figure.departments__logo
                                    picture
                                        source(type='image/webp' srcset='static/img/general/dep-img-4.webp' data-srcset='static/img/general/dep-img-4.webp')
                                        source(type='image/png' srcset='static/img/general/dep-img-4.png' data-srcset='static/img/general/dep-img-4.png')
                                        img.lazy.lazy( src='static/img/general/dep-img-4.png' data-src='static/img/general/dep-img-4.png' alt='')


                    .swiper-scrollbar
