.tabs {
    &__nav {
        margin-bottom: 0;
        max-width: 688px;
        width: 100%;
        @include mq($small) {
        }
    }
    &__nav-item {
        @include mq($small) {
        }

    }

    // &__nav-link

    &__nav-icon {
        opacity: 0;
        @include tr( .3s ease);
    }

    &__tabs-w {
        position: relative;
    }
    &__tab {
        // animation: fadeInUp 300ms ease-in-out;
        // transform-origin: top center;

        animation: fadeInUp .3s ease;
        @include tr( .3s ease);

        &[hidden] {

            // opacity: 0;
            @include tr( .3s ease);

        }
    }
}

[role=tablist] {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: overlay;
    @include mq($small) {
        overflow-x: unset;
    }
}

[role=tab] {
    border: none;

    @include padding-top(10px);
    @include padding-right(14px);
    @include padding-bottom(10px);
    @include padding-left(14px);
    color: #334756;
    @include font-size(16px);
    font-weight: 600;
    line-height: 1.2;
    border-radius: 0;
    @include tr(.3s ease);

    @include mq($small) {
        @include font-size(18px);
    }

    @include mq($medium) {
        @include padding-top(14px);
        @include padding-right(16px);
        @include padding-bottom(14px);
        @include padding-left(16px);
        @include font-size(24px);

    }

    &:hover {
        @include tr( .3s ease);
    }
}

[role=tab][aria-selected=true],
[role=tab]:hover:not([aria-selected=true]) {
    border: none;
    @include padding-top(10px);
    @include padding-right(14px);
    @include padding-bottom(10px);
    @include padding-left(14px);
    background-color: #ff4c29;
    color: var(--white);
    box-shadow: 16px 16px 24px 0 rgba(255, 76, 41, 0.15);
    @include tr( .3s ease);

    @include mq($medium) {
        @include padding-top(14px);
        @include padding-right(16px);
        @include padding-bottom(14px);
        @include padding-left(16px);
    }

}


@keyframes fadeInUp {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}
