.map-organizations {
    position: relative;
    background-color: var(--gray);
    display: none;
    @include mq($medium) {
        display: block;
    }

    &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: -1000px;
        right: -1000px;
        // width: 100%;
        height: 100%;
        content: '';
        background-color: var(--gray);
    }
    &__container {
        padding-top: 40px;
        padding-bottom: 34px;
    }

    &__title {
        margin-bottom: 20px;
        max-width: 467px;

    }

    &__tabs {

    }

    &__tabs-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__tabs-nav {

    }


    &__tab {

    }

    &__tab-in {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    &__addresses {
        @include padding-top(25px);
        max-width: 500px;
        @include mq($medium) {
            @include padding-top(50px);
        }
    }

    &__address {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__map {
        position: relative;
        margin-top: 0;
        @include padding-top(25px);
        width: 449px;
        height: 656px;
        display: none;

        @include mq($medium) {
            @include padding-top(50px);
        }

        @include mq($large) {
            margin-top: -135px;
            padding-top: 0;
            display: block;
        }

    }



    // 322

    // 802

}
