include ../map-area/map-area.pug


mixin map-organizations(data)
    section.map-organizations
        .map-organizations__container.container
            h2.map-organizations__title.title.title_second Карта страховых <br/>и медицинских организаций


            .map-organizations__nav

                label.map-organizations__nav-item(title='Филиалы фонда')
                    input.map-organizations__nav-link(type='radio' name='map-option' value='filial' autocomplete='off' checked)
                    span.map-organizations__nav-text Филиалы фонда
                label.map-organizations__nav-item(title='СМО')
                    input.map-organizations__nav-link(type='radio' name='map-option' value='so' autocomplete='off')
                    span.map-organizations__nav-text СМО
                label.map-organizations__nav-item(title='Центры здоровья')
                    input.map-organizations__nav-link(type='radio' name='map-option' value='center' autocomplete='off')
                    span.map-organizations__nav-text Центры здоровья
                label.map-organizations__nav-item(title='МО')
                    input.map-organizations__nav-link(type='radio' name='map-option' value='mo' autocomplete='off')
                    span.map-organizations__nav-text МО

            input#map-selected-region.map-organizations__selected(type='hidden' value='')

            #interactive-map-contacts.map-organizations__addresses


                address.map-organizations__address.address
                    strong.address__title Левокумский муниципальный район
                    .address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85 <br/><a href="tel:+78656033461">+7(86560)3-34-61</a>

            .map-organizations__map
                +map-area()
