mixin map-organizations(data)
    section.map-organizations
        .map-organizations__container.container
            h2.map-organizations__title.title.title_second Карта страховых и медицинских организаций


            .map-organizations__tabs.tabs
                .map-organizations__tabs-top
                    //- .map-organizations__tabs-title Филиалы фонда

                    ul.map-organizations__tabs-nav.tabs__nav(data-tabs)

                        li.tabs__nav-item
                            a.tabs__nav-link( href='#tab-1') Филиалы фонда

                        li.tabs__nav-item
                            a.tabs__nav-link( href='#tab-2') СМО

                        li.tabs__nav-item
                            a.tabs__nav-link(href='#tab-3' data-tabby-default) Центр здоровья

                        li.tabs__nav-item
                            a.tabs__nav-link(href='#tab-4') МО


                .map-organizations__tab.tabs__tab#tab-1
                    .map-organizations__addresses

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61




                    .map-organizations__map
                        picture
                            source(type='image/webp' srcset='static/img/general/map-img@2x.webp')
                            source(type='image/png' srcset='static/img/general/map-img@2x.png')
                            img(src='static/img/general/map-img@2x.png' alt='map')

                .map-organizations__tab.tabs__tab#tab-2
                    .map-organizations__addresses

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61



                    .map-organizations__map
                        picture
                            source(type='image/webp' srcset='static/img/general/map-img@2x.webp')
                            source(type='image/png' srcset='static/img/general/map-img@2x.png')
                            img(src='static/img/general/map-img@2x.png' alt='map')

                .map-organizations__tab.tabs__tab#tab-3
                    .map-organizations__addresses

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61



                    .map-organizations__map
                        picture
                            source(type='image/webp' srcset='static/img/general/map-img@2x.webp')
                            source(type='image/png' srcset='static/img/general/map-img@2x.png')
                            img(src='static/img/general/map-img@2x.png' alt='map')

                .map-organizations__tab.tabs__tab#tab-4
                    .map-organizations__addresses

                        address.map-organizations__address.address
                            strong.address__title Левокумский муниципальный район
                            p.address__text <span>ООО «СК «Ингосстрах - М» Дополнительный офис:</span> <br/> 357940, Арзгирский район, с. Арзгир, ул. Кирова, 85
                            a.address__phone(href='tel:+78656033461') +7(86560)3-34-61



                    .map-organizations__map
                        picture
                            source(type='image/webp' srcset='static/img/general/map-img@2x.webp')
                            source(type='image/png' srcset='static/img/general/map-img@2x.png')
                            img(src='static/img/general/map-img@2x.png' alt='map')
