mixin slider(data)
    .slider&attributes(attributes)
        .swiper
            .swiper-wrapper
                .swiper-slide
                    a.slider__item(href="#")
                    video.slider__video(preload='auto' loop muted playsinline poster='static/img/content/slider-img@2x.webp')
                        source(src='videos/earth_optimize.mp4' type='video/mp4')

                    .slider__title Специалисты Кизлярского филиала Территориального <span>фонда ОМС провели акцию</span>

                    button.slider__video-button
                        != pugHelpers.Icon.call(locals, {iconName: 'play-icon',className: 'slider__video-icon'})

                .swiper-slide
                    a.slider__item(href="#")
                    figure.slider__image
                        picture
                            source(type='image/webp' srcset='static/img/content/slider-img-1@2x.webp')
                            source(type='image/jpeg' srcset='static/img/content/slider-img-1@2x.jpg')
                            img(src='static/img/content/slider-img-1@2x.jpg' alt='Изображение')

                    .slider__title Специалисты Кизлярского филиала Территориального <span>фонда ОМС провели акцию</span>


        //- button.slider__nav.slider-nav.slider-nav_next.slider__nav_next
        //-     != pugHelpers.Icon.call(locals, {iconName: 'next-arrow', className: 'slider-nav__icon'})
        //- button.slider__nav.slider-nav.slider-nav_prev.slider__nav_prev
        //-     != pugHelpers.Icon.call(locals, {iconName: 'next-arrow', className: 'slider-nav__icon'})
