mixin documents(data)
    .documents
        ul.documents__list
            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image

                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-pdf',className: 'documents__badge'})


                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-doc',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 24.04.2020 № 147-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации по вопросам контроля за эффективностью и качеством осуществления переданных органам государственной власти...»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-doc',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-pdf',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-pdf',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-doc',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 28.12.2016 № 473-ФЗ «О внесении изменений в статьи 24 и 27 Федерального закона «Об обязательном медицинском страховании в Российской Федерации» и статью 2 Федерального закона «О размере и порядке расчета тарифа страхового взноса...»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-pdf',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-doc',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»

            li.documents__item
                a.documents__link(href="#document")
                    figure.documents__image
                        picture
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 300px)")
                            source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/document-image-mob.webp" media="(max-width: 960px)")

                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image-mob.png" media="(max-width: 300px)")
                            source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/document-image.png" media="(max-width: 960px)")

                            img.lazy( src="static/img/general/placeholder-image.png", alt="", data-src="static/img/general/document-image.png")

                        != pugHelpers.Icon.call(locals, {iconName: 'badge-xlx',className: 'documents__badge'})

                    .documents__entry
                        .documents__title Федеральный закон от 08.12.2020 № 430-ФЗ «О внесении изменений в Федеральный закон «Об обязательном медицинском страховании в Российской Федерации»
