.breadcrumbs {
    margin-bottom: 13px;
    @include mq($medium) {
        margin-bottom: 20px;
    }
    &__list {
        margin: 0;
        padding: 0;
        max-width: 491px;
        background: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    &__item {
        position: relative;
        padding-left: 0;
        display: flex;
        align-items: center;

        &:before {
            display: none;
        }
        &:first-child {
            padding-left: 0;
            &:before {
                display: none;
            }
        }

        &.active {
            color: #a0aab1;
        }
    }

    &__item_active {
        max-width: 306px;
        display: block;
        color: #a0aab1;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }

    &__icon {
        margin-right: 5px;
        margin-left: 5px;
        width: 15px;
        height: 15px;
        fill: transparent;
        color: #021515;
        opacity: 0.5;
    }

    &__link {
        padding-left: 0;
        color: #334756;
        font-weight: 600;
        @include font-size(16px);
        line-height: 1.1875;
        @include tr(.3 ease);

        &:hover {
            color: lighten(#334756, 10);
            @include tr(.3 ease);
        }
    }
}
