.poll {
    &__title {
        margin-bottom: 5px;
        font-weight: 600;
        @include font-size(14px);
        line-height: 1.2;
        @include mq($medium) {
            @include font-size(16px);
        }
        @include mq($large) {
            @include font-size(20px);
            text-transform: uppercase;
        }
    }

    &__text {
        color: #667580;
        font-weight: normal;
        @include font-size(12px);
        line-height: 1.4;
        @include mq($medium) {
            @include font-size(13px);
        }
        @include mq($large) {
            @include font-size(14px);
        }
    }

    &__form {
        margin-top: 10px;
        margin-bottom: 10px;
        @include mq($medium) {
            margin-top: 16px;
            margin-bottom: 16px;
        }

    }

    &__field {
        @include margin-bottom(10px);
        @include mq($medium) {
            @include margin-bottom(15px);
        }
        @include mq($large) {
            @include margin-bottom(20px);
        }
    }
}
