* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  cursor: default;
}

body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  background: transparent;
}

*:focus, *:active, *:hover {
  outline: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

ol,
ul {
  list-style: none;
}

pre {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  white-space: pre-wrap;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

img {
  border: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
}

html input[type='button'] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'], input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}

input,
select,
textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input,
textarea {
  resize: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
  color: transparent;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Libraries, which is used in current project. */
/* Libraries, which is used in current project. */
/* Some styles, which is used for correct sprite-generation, vars, mixins and etc */
/* Please, do not edit with file! */
/* This file can be overwritten by update-project! */
/* Mixins, which are specific for current project */
pseudo {
  position: relative;
}

pseudo:before, pseudo:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
}

/* Mixins and vars for sprite generation */
/* Scss for used fonts */
/* Your custom fonts here */
@font-face {
  font-family: 'Golos Text';
  src: local("Golos Text Bold"), local("GolosText-Bold"), url("../fonts/hinted-subset-GolosText-Bold.woff2") format("woff2"), url("../fonts/hinted-subset-GolosText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: local("Golos Text Medium"), local("GolosText-Medium"), url("../fonts/hinted-subset-GolosText-Medium.woff2") format("woff2"), url("../fonts/hinted-subset-GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: local("Golos Text Regular"), local("GolosText-Regular"), url("../fonts/hinted-subset-GolosText-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-GolosText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/hinted-subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/subset-Lato-Regular.woff2") format("woff2"), url("../fonts/subset-Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Extra';
  src: local("Inter Extra Bold"), local("Inter-ExtraBold"), url("../fonts/hinted-subset-Inter-ExtraBold.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Black"), local("Inter-Black"), url("../fonts/hinted-subset-Inter-Black.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/hinted-subset-Inter-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Italic"), local("Inter-Italic"), url("../fonts/hinted-subset-Inter-Italic.woff2") format("woff2"), url("../fonts/hinted-subset-Inter-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/hinted-subset-Raleway-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/hinted-subset-Raleway-Bold.woff2") format("woff2"), url("../fonts/hinted-subset-Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../fonts/hinted-subset-Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/hinted-subset-Raleway-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local("Raleway Black"), local("Raleway-Black"), url("../fonts/hinted-subset-Raleway-Black.woff2") format("woff2"), url("../fonts/hinted-subset-Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/hinted-subset-Raleway-SemiBold.woff2") format("woff2"), url("../fonts/hinted-subset-Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Vars, which are specific for current project */
:root {
  --white: #ffffff;
  --blue: #086de0;
  --black: #000000;
  --dark: #334756;
  --nav-link-color: #f2f2f2;
}

/* Styles for UI-elements */
.title {
  color: var(--white);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.3px;
  text-align: left;
}

@media (min-width: 1000px) {
  .title {
    font-size: 72px;
    line-height: 1.11;
    letter-spacing: -2.16px;
  }
}

.title_second {
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -1.2px;
}

@media (min-width: 1000px) {
  .title_second {
    font-size: 56px;
    letter-spacing: -2.4px;
  }
}

.title_third {
  letter-spacing: -1.5px;
  line-height: 1.22;
  font-size: 36px;
}

.button {
  border: none;
  background: transparent;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 24px;
  padding-left: 24px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button__text {
  display: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

.button__icon {
  margin-right: 7px;
}

.button:hover {
  background-color: #202d36;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button_style_second {
  border: solid 1px #086de0;
  padding: 10px 30px;
  background: transparent;
}

.button_style_second:hover {
  background-color: var(--white);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button_more {
  position: relative;
  padding-right: 40px;
  padding-left: 0;
  height: auto;
  background: transparent;
  opacity: 1;
}

.button_more:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 32px;
  height: 32px;
  content: '';
  background-color: #345dee;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button_more .button__arrow {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 8px;
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button_more:hover {
  background: transparent;
  opacity: .9;
}

.phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ff4c29;
  font-size: 22px;
  font-weight: bold;
  line-height: 19px;
  text-decoration: none;
}

.phone:hover {
  color: #f52800;
}

.slider-nav {
  border: none;
  background: transparent;
  position: absolute;
  top: calc(50% - 5px);
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-nav_next {
  right: 30px;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.slider-nav_prev {
  left: 30px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.slider-nav:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.text {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: left;
}

.text_big {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.3px;
}

.text_medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: -0.2px;
}

.text_small {
  font-size: 16px;
  line-height: 1.49;
  letter-spacing: -0.2px;
}

@media (min-width: 1000px) {
  .text_small {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.4px;
  }
}

.text a {
  color: #dfe4ea;
  text-decoration: none;
}

.text p {
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

.text p:last-of-type {
  margin-bottom: 0;
}

.text em {
  font-style: italic;
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* Common styles for current project */
html, body {
  height: 100%;
}

.page {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--white);
  color: var(--black);
  font-display: swap;
  font-family: "Golos Text", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.page__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  overflow: hidden;
}

.page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page__side {
  margin-right: 8px;
  max-width: 23.1%;
  width: 100%;
}

.page__content {
  max-width: 76.3%;
  width: 100%;
}

.page_nav_open {
  overflow-y: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 1000px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1274px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

img.lazy {
  opacity: 0;
}

img:not(.initial) {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

img.initial, img.loaded, img.error {
  opacity: 1;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}

/* Plugins, which is used in current project. */
/* Components, which is used in current project. */
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 368px;
  width: 100%;
  height: 95px;
  line-height: 1;
}

.header {
  position: relative;
  z-index: 3;
  color: var(--white);
}

.header__container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  max-width: 49.1%;
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.header__nav {
  margin-top: 20px;
  max-width: 100%;
  width: 100%;
}

.header__controls {
  margin-top: 27px;
  margin-left: auto;
  max-width: 50.9%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .header__controls {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.header__special-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #334756;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  white-space: nowrap;
}

.header__special-link:hover {
  color: #202d36;
}

.header__special-icon {
  margin-right: 6px;
}

.header__contacts {
  margin-left: 43px;
  margin-left: calc(1.39375rem + 1.725vw);
  line-height: 1;
}

@media (min-width: 1200px) {
  .header__contacts {
    margin-left: 2.6875rem;
  }
}

.header__phone {
  white-space: nowrap;
}

.header__contacts-link {
  color: #334756;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  text-decoration: none;
  white-space: nowrap;
  -webkit-box-shadow: inset 0 -1px 0 #ff4c29;
          box-shadow: inset 0 -1px 0 #ff4c29;
}

.header__contacts-link:hover {
  color: #202d36;
}

.header__control {
  width: 100%;
}

@media (min-width: 1000px) {
  .header__control {
    margin-left: 56px;
    margin-left: calc(1.475rem + 2.7vw);
  }
}

@media (min-width: 1000px) and (min-width: 1200px) {
  .header__control {
    margin-left: 3.5rem;
  }
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: -1000px;
  right: -1000px;
  bottom: 0;
  content: '';
  background: var(--dark);
}

.nav__trigger {
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white);
}

.nav__trigger:hover {
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (min-width: 1000px) {
  .nav__trigger {
    display: none;
  }
}

.nav__list {
  margin-bottom: 0;
  max-width: 1070px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 320px) {
  .nav__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.nav__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav__item:first-child .nav__link {
  padding-left: 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:last-child .nav__link {
  padding-right: 0;
}

.nav__item.active .nav__link {
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav__item:hover .nav__link {
  color: #737373;
}

.nav__item:hover .nav__dropdown-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav__item:hover .nav__list-sub {
  top: 100%;
  background: var(--dark);
  opacity: 1;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.nav__item_subnav {
  padding-right: 27.5px;
}

.nav__item_subnav .nav__link {
  padding-right: 0;
}

.nav__link {
  padding-top: 20px;
  padding-right: 27.5px;
  padding-bottom: 20px;
  padding-left: 27.5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--nav-link-color);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav__link-text {
  position: relative;
}

.nav__dropdown-icon {
  position: relative;
  margin-left: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  fill: transparent;
}

.nav__list-sub {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 320px;
  background: transparent;
  opacity: 0;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.nav__search {
  margin-left: auto;
}

.subnav {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
  padding-left: 16px;
}

.subnav__link {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--nav-link-color);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.subnav__link:hover {
  color: #737373;
}

.section-nav {
  margin-right: -5px;
  margin-left: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.section-nav__item {
  padding-right: 5px;
  padding-left: 5px;
  max-width: 33.3%;
  width: 100%;
  height: 110px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.section-nav__item:hover .section-nav__link {
  color: #334756;
}

.section-nav__item_active {
  max-width: 35.7%;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.section-nav__item_active .section-nav__link {
  background-color: #086de0;
  color: var(--white);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.section-nav__item_active .section-nav__button {
  background: var(--white);
}

.section-nav__item_active .button__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #086de0;
}

.section-nav__item_active .button__arrow {
  margin-left: 10px;
  width: 16px;
}

.section-nav__item_active .section-nav__icon {
  color: var(--white);
}

.section-nav__item_active:hover .section-nav__link {
  color: var(--white);
}

.section-nav__link {
  padding-top: 30px;
  padding-right: calc(1.375rem + 1.5vw);
  padding-bottom: 30px;
  padding-left: calc(1.34375rem + 1.125vw);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edf1f3;
  color: #334756;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

@media (min-width: 1200px) {
  .section-nav__link {
    padding-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .section-nav__link {
    padding-left: 2.1875rem;
  }
}

.section-nav__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #086de0;
}

.section-nav__text {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
}

.section-nav__button {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.side-nav__item {
  margin-bottom: 5px;
}

.side-nav__item:hover .side-nav__link {
  background-color: #202d36;
  color: var(--white);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-nav__item_attention .side-nav__link {
  background-color: #ff4c29;
}

.side-nav__item_attention .side-nav__icon {
  color: #C7371B;
}

.side-nav__item_attention .side-nav__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
}

.side-nav__item_attention .side-nav__text {
  margin-top: 6px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.side-nav__item_attention:hover .side-nav__link {
  background-color: #f52800;
}

.side-nav__link {
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background-color: var(--dark);
  color: var(--white);
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-nav__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #48667C;
}

.side-nav__entry {
  margin-left: 15px;
}

.side-nav__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.slider {
  overflow: hidden;
}

.slider .swiper-slide {
  position: relative;
  height: 376px;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.slider__item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.slider__video {
  width: 100%;
  height: 100%;
}

.slider__image picture {
  height: 100%;
}

.slider__video-button {
  border: none;
  background: transparent;
  z-index: 2;
  position: absolute;
  top: 154px;
  left: 34px;
  color: var(--white);
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__link {
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.social__link:hover {
  opacity: .8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about__container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1000px) {
  .about__container {
    padding-top: 95px;
    padding-bottom: 90px;
  }
}

.about__container:after {
  position: absolute;
  top: 100%;
  left: 30px;
  right: 30px;
  content: '';
  height: 1px;
  background-color: #162150;
}

@media (min-width: 1000px) {
  .about__container:after {
    display: none;
  }
}

.about__entry {
  width: 100%;
}

@media (min-width: 1000px) {
  .about__entry {
    padding-right: 33px;
    max-width: 57.8%;
  }
}

.about__title {
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .about__title {
    margin-bottom: 16px;
  }
}

.about__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

@media (min-width: 1000px) {
  .about__text {
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.3px;
  }
}

.about__more {
  margin-top: 36px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
}

@media (min-width: 1000px) {
  .about__more {
    padding-right: 30px;
    padding-left: 20px;
    height: 60px;
  }
}

.about__video {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  height: 250px;
  background-color: #1c275a;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-radius: 8px;
}

@media (min-width: 1000px) {
  .about__video {
    margin-bottom: 0;
    max-width: 42.2%;
    height: 380px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1000px) {
  .about__video:after, .about__video:before {
    z-index: -1;
    position: absolute;
    content: '';
  }
}

.about__video:before {
  top: 30px;
  left: -240px;
  width: 599px;
  height: 514px;
  background: url("../img/general/about-video-img.png") 0 0 no-repeat;
}

.about__video:after {
  top: -80px;
  left: -610px;
  width: 1187px;
  height: 1175px;
  background: url("../img/general/about-video-glow.png") 0 0 no-repeat;
}

.about__video-object {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  border-radius: 8px;
}

.about__video-button {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__video-icon {
  width: 48px;
  height: 48px;
}

@media (min-width: 1000px) {
  .about__video-icon {
    width: 68px;
    height: 68px;
  }
}

.features {
  overflow: hidden;
}

.features__container {
  padding-top: 25px;
  padding-bottom: 50px;
}

@media (min-width: 1000px) {
  .features__container {
    padding-top: 90px;
    padding-bottom: 30px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .features__list {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.features__item {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

@media (min-width: 1000px) {
  .features__item {
    margin-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: calc(35.8% - 30px);
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .features__item:last-child {
    margin-bottom: 100px;
  }
}

.features__icon {
  margin-bottom: 14px;
  max-width: 124px;
  width: 100%;
  height: 124px;
}

@media (min-width: 1000px) {
  .features__icon {
    margin-bottom: 8px;
  }
}

.features__entry {
  min-height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__entry-title {
  margin-bottom: 4px;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: -0.55px;
}

.features__entry-text {
  color: rgba(255, 255, 255, 0.5);
}

.features__entry-more {
  margin-top: auto;
}

.news__container {
  position: relative;
  padding-top: 45px;
  padding-bottom: 158px;
}

.news__bg {
  z-index: -1;
  position: absolute;
  bottom: -265px;
  left: -138px;
  width: 806px;
  height: 806px;
}

.news__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__title {
  margin-bottom: 33px;
  text-align: center;
}

.news__articles {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__article, .news__subscribe {
  position: relative;
  margin-bottom: 88px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 15px;
  max-width: 33.3%;
  width: 100%;
  min-height: 400px;
}

.news__article-in {
  padding: 29px 33px 48px;
  height: 100%;
  border-radius: 8px;
  background-color: #1c275a;
}

.news__meta {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
}

.news__meta-sep {
  margin-right: 10px;
  margin-left: 10px;
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.news__category, .news__date {
  color: inherit;
  text-decoration: none;
}

.news__article-title {
  margin-bottom: 34px;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: -0.55px;
}

.subscribe__in {
  border: solid 1px #1d2c6b;
  padding: 40px 52px 50px 35px;
  height: 100%;
  border-radius: 8px;
}

.subscribe__title {
  margin-bottom: 5px;
}

.subscribe__text {
  margin-bottom: 19px;
  color: rgba(255, 255, 255, 0.5);
}

.subscribe_second .subscribe__title {
  margin-bottom: 17px;
  text-align: center;
}

@media (min-width: 1000px) {
  .subscribe_second .subscribe__title {
    text-align: left;
  }
}

.subscribe_second .subscribe__text {
  margin-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
}

@media (min-width: 1000px) {
  .subscribe_second .subscribe__text {
    margin-bottom: 40px;
    padding-right: 90px;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.3px;
    text-align: left;
  }
}

.feedback {
  position: relative;
  z-index: 1;
}

.feedback__container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .feedback__container {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.feedback__entry {
  padding-top: 30px;
  max-width: 510px;
  width: 100%;
}

@media (min-width: 1000px) {
  .feedback__entry {
    padding-right: 30px;
  }
}

.feedback__title {
  margin-bottom: 10px;
  padding-right: 130px;
}

@media (min-width: 320px) {
  .feedback__title {
    padding-right: 100px;
  }
}

@media (min-width: 1000px) {
  .feedback__title {
    margin-bottom: 17px;
    padding-right: 40px;
  }
}

.feedback__text {
  padding-right: 50px;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 320px) {
  .feedback__text {
    padding-right: 20px;
  }
}

@media (min-width: 1000px) {
  .feedback__text {
    padding-right: 90px;
  }
}

.feedback__button {
  margin-top: 40px;
  padding-left: 25px;
  width: 100%;
}

@media (min-width: 1000px) {
  .feedback__button {
    margin-top: 30px;
    width: auto;
  }
}

.feedback__image {
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 1000px) {
  .feedback__image {
    width: 584px;
    height: 422px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.feedback__image img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1000px) {
  .feedback__image::after {
    position: absolute;
    top: calc(100% - 350px);
    left: calc(50% - 100px);
    width: 922px;
    height: 922px;
    content: '';
    background: url("../img/general/feedback-glow.png") 0 0/cover no-repeat;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.cta__container {
  position: relative;
  z-index: 1;
  padding-top: 165px;
  padding-bottom: 50px;
}

@media (min-width: 1000px) {
  .cta__container {
    padding-top: 100px;
    padding-bottom: 108px;
  }
}

.cta__subscribe {
  margin: auto;
  width: 100%;
}

@media (min-width: 1000px) {
  .cta__subscribe {
    max-width: 730px;
  }
}

.cta__title {
  margin-bottom: 12px;
}

.cta__text {
  margin-bottom: 40px;
  padding-right: 60px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .form__row {
    margin-bottom: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.form__field {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

@media (min-width: 1000px) {
  .form__field {
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.form__field:last-child {
  margin-bottom: 20px;
  margin-right: 0;
}

@media (min-width: 1000px) {
  .form__field:last-child {
    margin-bottom: 0;
  }
}

.form__field_email {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.form__field_email .form__input {
  padding-right: 50px;
}

.form__field_submit_glow {
  position: relative;
}

@media (min-width: 1000px) {
  .form__field_submit_glow:after {
    z-index: -1;
    position: absolute;
    top: -465px;
    right: -391px;
    content: '';
    width: 999px;
    height: 780px;
    background: url("../img/general/header-button-glow.png") 0 0 no-repeat;
  }
}

.form__field-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__input {
  border: none;
  background: transparent;
  padding-right: 18px;
  padding-left: 18px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: #121b3f;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.49;
  letter-spacing: -0.2px;
  text-align: left;
  color: var(--white);
  border-radius: 8px;
}

.form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1000px) {
  .form__input {
    max-width: 314px;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.4px;
  }
}

@media (min-width: 1000px) {
  .form__confirm {
    padding-right: 60px;
  }
}

.form__note {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.form_subscribe .form__field {
  margin-right: 0;
  margin-bottom: 12px;
}

.form_subscribe .form__input,
.form_subscribe .form__submit {
  height: 50px;
}

.form_subscribe .form__input {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: left;
}

.form_subscribe .form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form_subscribe .form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form_subscribe .form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form_subscribe .form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form_subscribe .form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form_subscribe .form__submit {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form_cta .form__field {
  margin-bottom: 22px;
}

@media (min-width: 1000px) {
  .form_cta .form__field {
    margin-bottom: 17px;
  }
}

.form_cta .form__field:last-child {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .form_cta .form__field:last-child {
    margin-bottom: 22px;
  }
}

.form_cta .form__field_email {
  max-width: 358px;
  color: #dfe4ea;
}

.form_cta .form__field_email .form__field-icon {
  position: absolute;
  top: 50%;
  right: auto;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 1000px) {
  .form_cta .form__field_submit_glow:after {
    z-index: -1;
    position: absolute;
    top: -85px;
    right: -60px;
    content: '';
    width: 540px;
    height: 290px;
    background: url("../img/general/register-glow.png") 0 0 no-repeat;
  }
}

.form_cta .form__input {
  padding-left: 55px;
  padding-right: 20px;
  max-width: 100%;
}

.form_cta .form__submit {
  width: 100%;
  height: 60px;
}

.form_cta .form__note {
  padding-top: 20px;
  display: none;
  text-align: center;
}

@media (min-width: 1000px) {
  .form_cta .form__note {
    display: block;
  }
}

.form_footer .form__row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form_footer .form__field {
  margin-right: 15px;
}

.form_footer .form__input {
  max-width: 244px;
  height: 50px;
}

.form_footer .form__submit {
  padding-right: 28px;
  padding-left: 20px;
}

.footer {
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d1636), to(#0d1534));
  background: -webkit-linear-gradient(top, #0d1636 0%, #0d1534 100%);
  background: linear-gradient(-180deg, #0d1636 0%, #0d1534 100%);
}

.footer__container {
  padding-top: 74px;
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1000px) {
  .footer__container {
    padding-top: 43px;
  }
}

.footer__logo {
  margin-bottom: 34px;
}

@media (min-width: 1000px) {
  .footer__logo {
    margin-bottom: 50px;
  }
}

.footer__nav {
  margin-bottom: 15px;
  width: 100%;
}

@media (min-width: 1000px) {
  .footer__nav {
    margin-bottom: 0;
    width: auto;
  }
}

@media (min-width: 1000px) {
  .footer__form {
    display: none;
  }
}

.footer__social {
  margin-top: 14px;
  max-width: 104px;
  color: var(--white);
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 1000px) {
  .footer__social {
    max-width: 112px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__copyright {
  border-top: 1px solid #1D2C6B;
  margin-top: 24px;
  padding-top: 30px;
  padding-bottom: 17px;
  max-width: 100%;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
}

@media (min-width: 1000px) {
  .footer__copyright {
    margin-bottom: 0;
    padding-top: 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: -0.2px;
    text-align: center;
  }
}

/* Additional style files. */
